/* General Style */
html {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

*, 
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header Component Style */

.header-project-selector {

}

.header-project-add-button {
    
}

.header-project-name {
    text-align: center;
    font-size: x-large;
    color: white;
    background-color: teal;
    font-weight: bolder;
    border: none;
}

.header-settings-button {

}

/* Header Organization Style */

.header {
    display: flex;
    justify-content: space-between;
    background-color: teal;
    flex: 0;
}

.header-project-view-div {
    display: flex;
    padding: 1em;
    flex: 1;
}

.header-project-name-div {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-settings-div {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    flex: 1;
}

/* Project Page Component Style */

.project-add-task-button {
    margin: 1em;
}

.project-task-list {
}

.project-task-listing {

}

.project-task-checkbox {
    margin: 1em;
}

.project-task-checkbox-text {
    border: none;

}

/* Project Page Organization Style */

.project-page {
    display: flex;
    flex-direction: column;
    background-color: rgba(95, 158, 160, 0.436);
    flex: 1;
}

.project-page-task-view-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}